.transactions__header {
    display: flex;
    align-items: center;
    background-color: rgb(255 255 255);
    -webkit-box-shadow: 0px 1px 13px 3px rgba(131, 131, 131, 0.75);
    -moz-box-shadow: 0px 1px 13px 3px rgba(131, 131, 131, 0.75);
    box-shadow: 0px 1px 13px 3px rgba(131, 131, 131, 0.75);
    color: var(--bhd-color-text);
    padding: 0 9px;
    z-index: 1;

    .header__menu-button {
        font-size: 34px;
        color: var(--green-main);
        background-color: transparent;
    }

    .header__title {
        justify-self: center;
        width: 100%;
        text-align: center;
        font-size: 18px;
    }
}

main {
    height: 100%;
    color: var(--bhd-color-text);
    background-color: rgb(245 246 249);
    padding: 10px 0;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        text-align: center;
        h1 {
            padding: 0 43px;
        }

        p {
            padding: 10px 30px;
        }
    }
}